body {
  font-family: 'Anton', sans-serif;
  background-image: url("/images/background.jpg"); 
  background-size: cover;
}
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.box {
  background-color: rgba(245, 245, 220, 0.713);
}

.page-title {
  padding: 5px;
}

